.create-object-form {
  overflow-y: scroll;
}

.form-group {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-group label {
  margin-bottom: 0;
  width: 50%;
  flex-grow: 1;
  color: var(--form-label-text-color);
}

.monitoring-option-title {
  color: var(--text-color);
  margin-bottom: .5rem;
  display: block;
}

.form-in-sidebar {
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group select {
  background-color: var(--form-input-background-color);
  color: var(--form-input-text-color);
  padding: 10px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.device-icons {
  border: 1px solid rgb(100, 100, 100);
  border-radius: .3rem;
  width: calc(100% - 22px);
  overflow-x: auto;
  display: flex;
  white-space: nowrap;
  padding: 10px;
}

.device-category-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 8px;
}

.icon-input {
  width: .7rem !important;
  margin-left: 8px; /* Radio 버튼과 이미지 사이의 간격을 설정 */
}


.device-icon-image-container {
  width: 3rem;
  height: 3rem;
}

.device-icon-image-container img {
  height: 100%;
  object-fit: cover;
}
