.load-device-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  width: calc(100% - 32px);
  top: 10%;
  height: 80%;
  overflow-y: auto; /* 모달 내부에서 세로 스크롤 허용 */
}

.search-device-info {
  width: 90%;
  padding: 10px 15px;
  margin-bottom: 16px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}


.loaded-devices {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr)); /* 최소 2열에서 최대 3열 */
	grid-auto-rows: 200px;
  gap: 12px;
  width: calc(100% - 32px);
  height: 100%;
  padding-right: 17px;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  overflow-y: auto; /* 세로 스크롤 필요 시 활성화 */
  max-height: 400px; /* 카드 컨테이너 높이 제한 */
} 

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
