.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #111827;
  padding: 1.5rem;
  color: white;
  position: relative;
  width: 80%;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 0.75rem;
  overflow: hidden;
}

.sb-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #9ca3af;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s;
}

.close-button:hover {
  color: #e5e7eb;
}

.dashboard-container {
  padding: 1.5rem;
  transform: scale(0.8);
  transform-origin: top left;
  margin-left: 5%;
}

/* .dashboard-container {
  background-color: #111827;
  min-height: 100vh;
  padding: 1.5rem;
  color: white;
} */

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-placeholder {
  display: flex;
  align-items: center;
}

.salt-logo {
  height: 40px;
  width: auto;
}

.navigation {
  display: flex;
  gap: 1rem;
}

.nav-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: none;
  border: none;
  color: #9ca3af;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-button:hover {
  color: #e5e7eb;
}

.nav-button.active {
  background-color: white;
  color: #111827;
}

.user-section {
  display: flex;
  gap: 1rem;
  color: #9ca3af;
}

.welcome-section {
  margin-bottom: 2rem;
}

.welcome-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.welcome-text span:first-child {
  color: white;
}

.welcome-text span:last-child {
  color: #9ca3af;
  margin-left: 0.5rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  background-color: #233044;
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  transition: background-color 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #374151;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.card-header {
  margin-bottom: 1rem;
}

.card-title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
  color: #9ca3af;
  margin-bottom: 0.5rem;
}

/* .card-value {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.card-value {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-subtitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: #9ca3af;
  text-align: center;
  margin-top: 0.3rem;
}

.card-large {
  grid-column: span 4;
  background-color: #233044;
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.donut-label {
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
}

.donut-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e5e7eb;
}

.donut-percentage {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 0.3rem;
}
 