.dashboard-container {
  width: 100%;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.7);
transform-origin: center top;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-placeholder {
  display: flex;
  align-items: center;
}

.salt-logo {
  height: 40px;
  width: auto;
}

.navigation {
  display: flex;
  gap: 1rem;
}

.nav-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: none;
  border: none;
  color: #9ca3af;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-button:hover {
  color: #e5e7eb;
}

.nav-button.active {
  background-color: white;
  color: #111827;
}

.user-section {
  display: flex;
  gap: 1rem;
  color: #9ca3af;
}

.welcome-section {
  margin-bottom: 2rem;
}

.welcome-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.welcome-text span:first-child {
  color: white;
}

.welcome-text span:last-child {
  color: #9ca3af;
  margin-left: 0.5rem;
}

.cards-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.card {
  background-color: #233044;
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-height: 300px;
  transition: background-color 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #374151;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.card-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.max-value-toggle {
  display: flex;
  align-items: center;
}

.max-value-toggle label {
  color: #9ca3af;
  font-size: 0.875rem;
}

.max-value-toggle input {
  margin-right: 0.5rem;
}

.card-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #e5e7eb;
  margin-bottom: 0.5rem;
}

.card-value {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: 700;
  color: #9ca3af;
  text-align: center;
  margin-top: 0.3rem;
}

.donut-label {
  position: absolute;
  text-align: center;
  font-size: 1.2rem;
}

.donut-title {
  font-size: 1rem;
  font-weight: bold;
  color: #e5e7eb;
}

.donut-percentage {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 0.3rem;
}

@media (max-width: 1200px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
