#cy{
  width:100%;
  height: 90vh;
  bottom: 0;
  background-color: #1f2937;
  border-radius: .3rem;
}

.diagram-field {
  flex-grow: 1;
}

.cytoscape-navigator {
  border: 2px solid #bebebe !important;
  background: white !important;
  height: 25vh !important;
  width: 25vw !important;
  margin-bottom: 24px;
  margin-right: 24px;
  z-index: 500;
}

/* Add border to View container: */
.cytoscape-navigator .cytoscape-navigatorView {
  border: 2px solid #124191;
  background: transparent;
}

/*Ovveride overlay container when mouse is over Navigator*/
.cytoscape-navigator:hover .cytoscape-navigatorOverlay {
  border: 2px solid #124191;
  background: transparent;
}

/*Ovveride view's container when mouse is over view*/
.cytoscape-navigator.mouseover-view .cytoscape-navigatorView {
  background-color: rgba(18, 65, 145, 0.3);
}

.hidden {
  display: none;
}

.toolbar {
  display: flex;
  gap: .3rem;
  background-color: #111827;
  padding-top: .3rem;
  color: #878f9b;
  font-size: 1rem;
  line-height: 1.8rem;
  align-items: center;
  padding-left: .3rem;
  padding: .7rem 0 0 .3rem;
}
