.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--project-page-background-color);
  padding: .5rem .4rem;
  height:4vh
}

.toolbar > div {
  display: flex;
  gap: .3rem;
  color: var(--toolbar-button-text-color);
  font-size: 1rem;
  line-height: 1.8rem;
  align-items: center;
}

.toolbar-button {
  background-color: var(--toolbar-button-background-color);
  border-radius: .3rem;
  border: 0;
  color: var(--toolbar-button-text-color);
  transition: color  0.2s ease;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid var(--toolbar-button-border-color);
  transition: background-color 0.3s;
}

.toolbar-button:hover {
  background-color: var(--toolbar-button-hovering-backgroud-color);
}

.toolbar-edit-button{
  width: 10rem;
  margin-left: auto;
}

#sizeInput {
  height: 1.6rem;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(100, 100, 100);
  padding-left: .3rem;
}
