.toolbar {
  display: flex;
  background-color: #111827;
  padding: .5rem 0;
}

.toolbar > div {
  display: flex;
  gap: .3rem;
  color: #878f9b;
  font-size: 1rem;
  line-height: 1.8rem;
  align-items: center;
  margin-right: 1.5rem;
}

.diagram-editing-tools {
  border-left: 1px dashed rgb(100, 100, 100);
  padding-left: 1.5rem;
}

.toolbar-button {
  background-color: #1f2937;
  border-radius: .3rem;
  border: 0;
  color: #878f9b;
  transition: color  0.2s ease;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid rgb(100, 100, 100);
  transition: background-color 0.3s;
}

.toolbar-button:hover {
  color: #fff;
}

#sizeInput {
  height: 1.6rem;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(100, 100, 100);
  padding-left: .3rem;
}
