.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--project-page-background-color);
  padding: .5rem .4rem;
  height: 4vh;
}

.toolbar > div {
  display: flex;
  gap: .3rem;
  color: var(--toolbar-button-text-color);
  font-size: 1rem;
  line-height: 1.8rem;
  align-items: center;
}

.toolbar-button {
  background-color: var(--toolbar-button-background-color);
  border-radius: .3rem;
  border: 0;
  color: var(--toolbar-button-text-color);
  transition: color 0.2s ease;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid var(--toolbar-button-border-color);
  transition: all 0.3s ease;
  padding: 0 .3rem ;
}

.toolbar ul {
  line-height: 1;
}

.toolbar-button:hover {
  background-color: var(--toolbar-button-hovering-background-color);
  color: var(--toolbar-button-hovering-text-color);
}

.toolbar-edit-button {
  margin-left: 1rem; /* 버튼과 텍스트 사이 여백 추가 */
}

#sizeInput {
  height: 1.6rem;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(100, 100, 100);
  padding-left: .3rem;
}

/* RotatingText 영역 */
.tb-alert-message-container {
  flex-grow: 1; /* 텍스트가 남은 공간을 차지하도록 설정 */
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: flex-start;
  font-size: 1.2rem;
}

/* bi-gear 아이콘을 오른쪽 끝에 배치 */
.icon-container {
  margin-left: auto; /* 나머지 공간을 밀어버려서 오른쪽 끝에 위치 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container i.bi-sliders {
  font-size: 24px;
  cursor: pointer;
  padding-right: 10px;
}
.icon-container i.bi-gear {
  font-size: 24px;
  cursor: pointer;
  padding-right: 10px;
}
