@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

.ap-wrapper *,
.ap-wrapper :before,
.ap-wrapper :after {
  box-sizing: border-box;
}

.ap-form {
  width: 320px;
  margin: 20px auto;
}

.ap-title {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-size: 2em;
  text-align: center;
  color: #a5d3ec;
  margin-top: 0;
}

.ap-sep {
  background: #a5d3ec;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}

.ap-group {
  font-family: "Nanum Gothic", sans-serif;
  position: relative;
  margin: 45px 0;
}

.ap-textarea {
  resize: none;
}

.ap-input,
.ap-textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

.ap-input:focus,
.ap-textarea:focus {
  outline: none;
}

.ap-input:focus ~ .ap-label,
.ap-input:valid ~ .ap-label,
.ap-textarea:focus ~ .ap-label,
.ap-textarea:valid ~ .ap-label {
  top: -14px;
  font-size: 12px;
  color: #a5d3ec;
}

.ap-input:focus ~ .ap-bar:before,
.ap-textarea:focus ~ .ap-bar:before {
  width: 320px;
}

.ap-label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.ap-bar {
  position: relative;
  display: block;
  width: 320px;
}

.ap-bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #a5d3ec;
  transition: 300ms ease all;
  left: 0%;
}

.ap-btn {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.ap-btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.ap-btn-submit {
  background: #a5d3ec;
  color: #bce0fb;
}

.ap-btn-submit:hover {
  background: #93c2db;
  color: #deeffd;
}

.ap-btn-cancel {
  background: #eee;
}

.ap-btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.ap-btn-box {
  text-align: center;
  margin: 50px 0;
}

.ap-textarea::-webkit-scrollbar {
  width: 8px;
}

.ap-textarea::-webkit-scrollbar-track {
  background: #424242;
}

.ap-textarea::-webkit-scrollbar-thumb {
  background: #a5d3ec;
  border-radius: 4px;
}

.ap-textarea::-webkit-scrollbar-thumb:hover {
  background: #93c2db;
}
