.add-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: width 0.3s ease, height 0.3s ease;
  cursor: pointer;
}

.add-button-wrapper.disabled {
  opacity: 0.2; 
  pointer-events: none;
}

.add-button-content-container {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button-content {
  width: 70%;
  height: 70%;
  object-fit: contain; /* 이미지 비율을 유지하면서 컨테이너에 맞게 */
}

.add-button-symbol-container {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #1f2b3c;
  border: 1px solid rgb(133, 133, 133);
  top: -6px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button-symbol {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.cancel {
  background-color: #fc746c !important;
  border-color: #ff9892 !important;
  color: white !important;
}

.rotate {
  transform: rotate(45deg); /* 45도 회전 */
}

.hidden-text {
  opacity: 0; 
  white-space: nowrap; 
  position: absolute; 
  left: 45px;
  cursor: pointer;
}