.add-button-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
  transition: width 0.3s ease, height 0.3s ease;
  cursor: pointer;
}

.add-button-wrapper.disabled {
  opacity: 0.5; 
  pointer-events: none;
}

.add-button-content-container {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #1f2b3c;
  border: 3px solid rgb(133, 133, 133);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button-content {
  width: 70%;
  height: 70%;
  object-fit: contain; /* 이미지 비율을 유지하면서 컨테이너에 맞게 */
}

.add-button-symbol-container {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #1f2b3c;
  border: 2px solid rgb(133, 133, 133);
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button-symbol {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.cancel {
  background-color: #fc746c;
}

.rotate {
  transform: rotate(45deg); /* 45도 회전 */
}

.hidden-text {
  opacity: 0; 
  white-space: nowrap; 
  position: absolute; 
  left: 45px;
  cursor: pointer;
}

.toolbar-button {
  background-color: #1f2937;
  border-radius: .3rem;
  border: 0;
  color: #878f9b;
  transition: color  0.2s ease;
  cursor: pointer;
  font-size: 1rem;
}

.toolbar-button:hover {
 color: #fff;
}
