div, 
ul, li,
label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

ul {
	list-style: none;
  margin: 0;
  padding: 0;
}

.dd-menu {
  width: 6rem;
  max-height: 10rem;
  position: absolute;
  top: 3.8rem;
  overflow-y: auto;  
  overflow-x: hidden;
  background-color: white; 
  border: 0 1px 1px 1px solid #ccc; 
  z-index: 9999999999; 
  font-size: .5rem;
}

.dd-div {
  display: flex;
  height: 1.8rem;
  width: 6rem;
  box-shadow: 1px 1px 5px #ccc;
}

.dd-div .dd-input {
  flex-grow: 1; 
  padding: 0.5rem; 
  border: none;
  width: 3rem;
}

.dd-div .dd-toggle-button {
  width: auto;
  height: inherit;
  padding: 0.5rem;
  border: none;
  background-color: #fff;
} 

.dd-list-element {
  padding: 0.5rem; 

}

.dd-label {
  margin-bottom: 0.5rem; 
}
