/* 사이드바 전체 스타일 */
.sidebar-wrapper {
  position: relative;
  transition: width 0.3s ease;
  font-size: .5rem;
  padding-left: .3rem;
}

.sidebar-wrapper.expanded {
  width: 25.3rem;
}

.sidebar-wrapper.collapsed {
  width: 0rem;
}

.sidebar {
  width: 25rem;
  overflow: hidden;
  margin-right: .3rem;
}

.table-title {
  border-top: solid ;
  border-left: solid ;
  border-right: solid ;
}

.table-list {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}


/* 테이블 요소별 스타일 */
.table-container {
  padding: .5rem;
  width: 100%;
}

.monitorDevice tbody {
  display: block;
  overflow-y: scroll;
  max-height: 19vh; 

}

.table-container tbody::-webkit-scrollbar {
  display: none;  
  width: .5rem; 
}

.table-container thead tr th:first-child {
  border-left: solid ;
}

.table-container thead tr th:last-child {
  border-right: solid ;
}

.table-container tbody tr td:first-child {
  border-left: solid ;
}

.table-container tbody tr td:last-child {
  border-right: solid ;
}

.table-container tbody tr:last-child td:first-child {
  border-bottom: solid ;
  border-left: solid ;
  border-bottom-left-radius: .3rem;
}

.table-container tbody tr:last-child td:last-child {
  border-bottom:  solid ;
  border-right: solid ;
  border-bottom-right-radius: .3rem;
}

.table-container tbody tr:last-child td {
  border-bottom: solid ;
}

.table-container tbody tr:last-child {
  border-bottom: solid ;
}

.table-container tbody tr:last-child {
  border: 0;
}



.table-title, 
.table-container thead tr th:first-child, 
.table-container thead tr th:last-child, 
.table-container tbody tr td:first-child, 
.table-container tbody tr td:last-child, 
.table-container tbody tr:last-child td:first-child, 
.table-container tbody tr:last-child td:first-child, 
.table-container tbody tr:last-child td:last-child, 
.table-container tbody tr:last-child td, 
.table-container tbody tr:last-child {
  border-color: var(--table-border-color);
  border-width: 1px;
}

.table-title {
  display: flex;
  height: 1.5rem;
  background-color: var(--table-title-color);
  text-align: left;
  line-height: 1.5rem;
  padding: 0 .3rem;
  font-size: .6rem;
  border-radius: .3rem .3rem 0 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  gap: .3rem;
  cursor: move;
  justify-content: space-between;
}



.table-title .filter-toggling-btn{
  height: calc(100% + 1px);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: .7rem;
}

.table-header {
  display: flex;
  align-items: center;
  font-size: .6rem;
  border-bottom: 1px solid;
  border-color: #878f9b;
  background-color: var(--diagram-background-color);
  padding: .2rem 0;
}

.table-header th:first-child {
  text-align: left;
}

.table-header .table-field {
  background-color: var(--diagram-background-color);
}

.table-field{
  background-color: var(--diagram-background-color);
}


.table-row {
  display: flex;
  border-bottom: 1px solid #878f9b;
	height: 1.5rem;
  font-size: .5rem;
  color: var(--table-text-color);
	}


.table-field {
  display: flex;
  justify-content: right;
  align-items: center;
  line-height: 100%;
  padding: 0 .3rem;
  width: 20%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
  font-size: .7rem;
}


.table-container tbody tr td:first-child,
.table-container thead tr th:first-child {
  flex-grow: 1;
  justify-content: left;
}

/* 장비 현황 테이블용 스타일 */
.sb-icon-image {
  height: 1.5rem;
  vertical-align: middle;
  margin-right: .2rem;
}

/* sb-pan-btn 스타일 */
.sb-pan-btn {
  position: fixed;
  top: 50%;
  left:25.3rem;
  width: 15px;
  height: 30px;
  background-color: var(--background-color);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: transform 0.4s ease-in-out, background-color 0.3s ease, left 0.3s ease; /* 사이드바와 함께 이동 */
}

.sb-pan-btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sb-pan-icon{
  width: 50%;
  height: 50%;
  object-fit: cover;
  rotate:180deg;
}

.sidebar-wrapper.collapsed + .sb-pan-btn {
  left: 0;
}

.sidebar-wrapper.collapsed + .sb-pan-btn .sb-pan-icon{
 rotate:0deg;
}


.marquee-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-container span {
  display: inline-block;
}

.marquee-active span {
  position: relative;
  animation: marquee-scroll 10s linear infinite;
}

span {
  display: inline;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.monitorDevice tbody {
  display: block;
  overflow-y: scroll;
  max-height: 19vh; 
}
