/* 사이드바 전체 스타일 */
.sidebar-wrapper {
  transition: width 0.3s ease;
  font-size: .5rem;
}

.sidebar-wrapper.expanded {
  width: 25.3rem;
}

.sidebar-wrapper.collapsed {
  width: 0rem;
}

.sidebar {
  width: 25rem;
  overflow: hidden;
  margin-right: .3rem;
}

.table-list {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}


/* 테이블 요소별 스타일 */
.table-container {
  padding: .5rem;
  width: 100%;
}

.table-container tbody tr:last-child td:first-child {
  border-bottom-left-radius: .3rem;
}

.table-container tbody tr:last-child td:last-child {
  border-bottom-right-radius: .3rem;
}

.table-container tbody tr:last-child {
  border: 0;
}

.table-container tbody tr:last-child {
  border: 0;
}

.table-container tbody tr td:first-child {
  text-align: left;
}

.table-title {
  display: flex;
  height: 1.5rem;
  background-color: #1f2b3c;
  text-align: left;
  line-height: 1.5rem;
  padding: 0 .3rem;
  font-size: .6rem;
  border-radius: .3rem .3rem 0 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  gap: .3rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: .6rem;
  border-bottom: 1px solid #878f9b;
}

.table-header .table-field {
  background-color: #1f2937;
  height: 1rem;
}

.table-header th:first-child {
  text-align: left;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #878f9b;
	height: 1.5rem;
  font-size: .5rem;
  color: #ddd;
	}

.table-field {
  padding: 0 .3rem;
  min-width: 0;
  flex-grow: 1;
  align-content: center;
  width: 25%;
  margin: 0;
  background-color: #1f2937;
  text-align: left;
}

.table-field span:hover {
  color: white;
}

/* 장비 현황 테이블용 스타일 */
.icon-image {
  height: 90%;
  vertical-align: middle;
  margin-right: .2rem;
}

