.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  font-size: .5rem;
  width: 30rem;
  border: 1px solid black;
  padding: .3rem;
}

.table-title {
  font-size: .6rem;
  height: 1.5rem;
  border: 1px solid lightgrey;
  background-color: #ccc;
  text-align: left;
  line-height: 1.5rem;
  padding: 0 .3rem;
}

.table-container {
  border: 1px solid lightgrey;
  padding: .5rem;
  width: 100%;
}

.table-header {
  display: flex;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
  font-size: .6rem;
	height: 1rem;
  background-color: #eee;
  align-items: center;
  text-align: left;
}

.row-container {
  display: flex;
  border-bottom: 1px solid lightgrey;
	height: 1.5rem;
  background-color: #fff;
	}

.table-field {
  padding: 0 .3rem;
  min-width: 0; /* 내용이 길어도 너비가 고정되도록 설정 */
  flex-grow: 1;
  align-content: center;
  width: 25%;
  height: 1.5rem;
  margin: 0;
}

.icon-image {
  height: 90%;
  vertical-align: middle;
}