  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative; /* 추가 */
    z-index: 1; /* 추가 */
    padding: 10px 5%;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-image {
    height: 50px;
    width: auto;
  }

  .button-container {
    display: flex;
    align-items: center;
  }

  .theme-toggle-button,
  .logout-button {
    font-weight: 700;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .theme-toggle-button:hover,
  .logout-button:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-text-color);
  }
